<!-- prettier-ignore -->
<div class="tiny-player-container"
  <% if(locals.width){ %> style="width: <%= locals.width %>" <% } %>
>
  <video 
    class="tiny-player-video"
    crossorigin="anonymous"
    webkit-playsinline
    playsinline
    width="<%= locals.width %>" 
    src="<%= locals.src %>" 
    <% if(locals.nativeControl){ %> controls <% } %> 
    <% if(locals.loop){ %> loop <% } %> 
    <% if(locals.autoplay){ %> autoplay <% } %> 
    <% if(locals.muted){ %> muted <% } %> 
    <% if(locals.airplay){ %> airplay <% } %> 
    <% if(locals.airplay){ %> x-webkit-airplay="allow" <% } %> 
    <% if(locals.preload){ %> src="<%= locals.preload %>" <% } %> 
    <% if(locals.poster){ %> poster="<%= locals.poster %>" <% } %> 
    <% if(locals.volume){ %> src="<%= locals.volume %>" <% } %> 
    <% if(locals.playbackSpeed){ %> src="<%= locals.playbackSpeed %>" <% } %> 
    <% if(locals.anonymous){ %> src="<%= locals.anonymous %>" <% } %> 
  >
    你的浏览器不支持 video 标签，换个浏览器试试？
  </video>
  
  <% if(locals.controls && !locals.nativeControl){ %> 
    <!-- 控制面板 -->
    <div class="tiny-player-control-panel">
      <!-- 播放按钮 -->
      <div class="tiny-player-play-icon"></div>
      <!-- 底部控制栏 -->
      <div class="tiny-player-control-bar">
        <div class="tiny-player-play-btn"></div>
        <input type="range" class="tiny-player-seek-bar" value="0" />
        <span>00:00/11:00</span>
        <span>音量:</span>
        <span class="tiny-player-volume-icon"></span>
        <input type="range" class="tiny-player-volume-bar" min="0" max="1" step="0.01" value="<%= locals.volume %>" />
        <span>全屏</span>
        <span class="tiny-player-volume-icon"></span>
      </div>
    </div>
  <% } %> 

  <!-- 水印 -->
  <div class="tiny-player-watermark"></div>
</div>
